---
layout: default
---
<header class="masthead">
  <nav class="masthead-nav">
    {% for nav in site.nav %}
    <a href="{{ nav.href }}">{{ nav.name }}</a>
    {% endfor %}
  </nav>
  <h1 class="masthead-title">
    <a href="{{ site.baseurl }}/">{{ site.name }}</a>
  </h1>
  <p>Ph.D. student at Northwestern University<br>
    <br>
  <a href="https://github.com/titipata"><i class="fa fa-github"></i> Github</a><br>
  <a href="https://twitter.com/titipat_a"><i class="fa fa-twitter"></i> Twitter</a>
  </p>
</header>
<div class="content list">

{% for post in site.posts %}
  <div class="list-item">
    <h2 class="list-post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h2>
    <div class="list-post-date">
      <time>{{ post.date | date_to_string }}</time>
    </div>
  </div>
{% endfor %}

</div>
