    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    {% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
    <!-- Open Graph -->
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ canonical }}">

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:site_name" content="{{ page.title }}">
    {% else %}
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:site_name" content="{{ site.title }}">
    {% endif %}

    {% if page.image %}
    <meta property="og:image" content="{{ site.url }}/images/{{ page.image }}">
    {% else %}
    <meta property="og:image" content="{{ site.url }}/images/fb-image.jpg">
    {% endif %}

    {% if page.description %}
    <meta property="og:description" content="{{ page.description }}" />
    {% else %}
    <meta property="og:description" content="{{ site.description }}" />
    {% endif %}

    <!-- Facebook image -->
    {% if page.description %}
    <meta name="description" content="{{ page.description | strip_html }}" />
    <meta property="og:description" content="{{ page.description | strip_html }}" />
    <meta name="twitter:description" content="{{ page.description | strip_html }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
    <meta name="twitter:description" content="{{ site.description }}" />
    {% endif %}

    <meta name="author" content="{{ site.name }}" />

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ site.url }}/ai-builders/images/fb-image.png">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.ico">
    <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon-32x32.png">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="{{ site.baseurl }}/images/apple-touch-icon.png">
